[Unit]
Description=Reticulum Mavlink Flight Controller Daemon
After=network.target

[Service]
ExecStart=/home/root/fc/run-fc.sh
WorkingDirectory=/home/root/fc
User=root
Group=root
Restart=always

[Install]
WantedBy=multi-user.target
